html {
    box-sizing: border-box;
    color: #F2F2F1;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .col-12{
    width: 100%;
  }

  .mt-sm{
    margin: .5rem 0 0 0;
  }

  span{
    color: #48484A;
  }

  button{
    background-color: #EC6E4C;
    color: #F2F2F1;
    border: 0;
    border-radius: .5rem;
    padding: .5rem;
    margin-top: .5rem;
  }

  .marginless{
    margin: 0;
  }

  .weightless-txt{
    font-weight: 400;
  }

  .accent-txt{
    color: #EC6E4C;
    background-color: #F2F2F1;
    padding: .2rem .5rem;
    border-radius: .2rem;
  }

  .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card{
    background-color: rgb(149, 149, 150, 0.9);
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .temp-container{
    text-align: center;
  }

  .temp-txt{
    font-size: 32px;
  }

  .header{
    text-align: center;
  }

  .weather-title{
    text-align: center;
  }

  .weather-info{
    padding-top: 1.9rem;
  }

  .info-container{
    display: flex;
    justify-content: center;
  }

  @media (min-width: 576px) {
    .col-6{
      width: 50%;
    }
  }